{% extends "patient/layout_pat.html"%}

{% block patient%}
<div class="row">
    <div class="col">
        
        <h2>{{posty.article_title}}</h2>
        
        <p>
            
            <i>posted by:</i><span>{{posty.postuser.dr_fname}} {{posty.postuser.dr_lname}}</span><br>
            <i>date:</i><span>{{posty.article_time}}</span><br>
          
        </p>
    </div>
</div>
<h3>COMMENT</h3>



{% if posty.articlecom|count==0%}
<div class="alert info">
    NO COMMENT MADE ON THIS POST YET
</div>
{%else%}
{% for com in posty.articlecom%}
<div class="row">
    <div class="col-3">
        <img src="/static/uploads/{{com.commentuser.dr_image}}" height="100" width="100" style="border-radius: 50%;">
    </div>
    <div class="col">
        <p style="color:blue; font-family:'Courier New', Courier, monospace">{{ com.comment_content }}</p>
        <i>{{com.comment_time}}</i>
        <i>{{com.commentpat.p_false}}</i>
    </div> 
</div>

<hr>

{%endfor%}
{%endif%}

<div class="row">
    <div class="col" id="allcomments1">

    </div>
</div>
<form id="myform1">
    
    <textarea name="comment" class="form-control" id="comment1"></textarea>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="articleid" value="{{posty.article_id}}">
    <button class="btn1" id="btn1" type="button">Send Comment</button>
    </form>
    </div>
</div>
{% endblock patient%}

