{% extends "patient/layout_pat.html"%}

{% block patient%}
{{d_chat}}

    {% if doc_chat%}
    {% for s in doc_chat%}
    <div class="row">
        <div class="col">
         <div class="mt-2 p-3" style="background-color: #BCDE85; width: 50%; border-radius: 5px;">{{s.doc_message}}</div>
        </div>
    </div>
    {%endfor%}
    {%endif%}

{% if pat_chat%}
{% for p in pat_chat%}
<div class="row">
    <div class="col">
     <div id="chatright" class="mt-3 p-3" style="background-color: #001030; width: 50%; color:#BCDE85;border-radius: 5px;">{{p.pat_message}}</div>
    </div>
</div>
{%endfor%}
{%endif%}
<div class="row">
   
    <div class="col" id="allmessage">
        <p style="color:blue; font-family:'Courier New', Courier, monospace">{{ message }}</p>
    </div>
</div>

<form id="myform">

    <input name="chat" class="form-control" id="comment">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="postid" value="{{doc_avail.dr_id}}">
    <button class="btn btn-danger" id="btn" type="button">Send Comment</button>
    </form>
{% endblock patient%}