<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/animate.min.css">
<style type="text/css">
	body{
		background-color: rgb(230, 230, 230);
		
	}

	.find{
		width: 120px;
		height: 120px;
		justify-content: space-between;
	}

	.whole{
		position: relative;
		left: 200px;
		top: 50px;
	}
</style>
</head>
<body>
<div class="container">
		<div class="row">
		<div class="col">
			<!-- nav -->
	<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="#">OSB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page" href="#">Services</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link px-5" href="#">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
		</div>
	</div> 


	<div class="row mt-3 whole" style=" width: 70%; background-color:white; border-radius:10px">
		<div class="col mt-5 pl-5">
			<img src="/static/images/bg1.jpg" style="border-radius:50%; width:200px; height:200px"><br><br>
			<p><button id="profile">Edit picture</button></p>
			
			
		</div>
		<div class="col mt-5">
			<p>GIWA Fauzziyyah Tolani</p>
			<p>teeF</p>
			<p>2..</p>
			<p>Joined on oct 1st 2022</p>
			<p><button id="signout">Sign out</button></p>
		</div>

	</div>

	<div class="row mt-3 whole" style=" width: 70%; background-color:white; border-radius:10px";>
		<p>SPECIALITY</p>
		<div class="col-2">
			<a href=""><img src="/static/images/bg12.jpg" class="find"></a>
			<span>PRIMARY CARE</span>
		</div>
		<div class="col-2">
			<a href=""><img src="/static/images/gyne1.jpg" class="find"></a>
			<span>GYNECOLOGISTS</span>
		</div>
		<div class="col-2">
			<a href=""><img src="/static/images/pedi1.jpg" class="find"></a>
			<span>PEDIATRICIANS</span>
		</div>
		<div class="col-2">
			<a href=""><img src="/static/images/therapist1.jpg" class="find"></a>
			<span>THERAPISTS</span>
		</div>
		<div class="col-2">
			<a href=""><img src="/static/images/dentist3.jpg" class="find"></a>
			<span>DENTISTS</span>
		</div>
		<div class="col-2">
			<a href=""><img src="/static/images/opt1.jpg" class="find"></a>
			<span>OPTOMETRISTS</span>
		</div>
	</div>

</div>


<!--js query this has to come first when using jquery-->
	<script type="text/javascript" language="javascript" src="/static/bootstrap/js/jquery.min.js"></script>


	<!-- js internal -->
	<script type="text/javascript" language="javascript">
		//  check if dom is loaded
		$(document).ready(function(){

		
		}); // closing for the jquery
	</script>
	
</body>
</html>