{% extends "patient/layout_pat.html"%}

{% block patient%}
{% if post_art%}
{% for a in post_art%}

{{a}}
<div class="row">
    <div class="col">
        <h4 id="art_head">{{a.article_title}}</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <iframe width="560" height="315" src="{{a.article_body}}" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
        <p>
            <i>posted by:</i><p>{{a.postuser.p_id}}</p>
            <i>Date:</i><p>{{a.article_time}}</p>
            <i>{{a.article_comment|count()}} comments</i>
        </p>
    </div>
</div>
<a href="/pat/article/{{a.article_id}}"><button>Comment</button></a>
{%endfor%}
{% endif %}
{% endblock patient%}
