{% extends "patient/layout_pat.html"%}

{% block patient%}
{% if doc_avail%}
{% for dr in doc_avail%}


<div class="row view mb-4 mt-3">
    <div class="col">
        <img src="/static/uploads/{{dr.dr_image}}" height="150" width="150" style="border-radius: 50%;">
    </div>
    <div class="col">
        <p style="font-size: 25px; font-weight: bold;">DR {{dr.dr_lname}} {{dr.dr_fname}}</p>
        <p style="font-size: 20px; font-weight: bold;">Pediatricians</p>
        <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i>

    </div>
    <div class="col">
        <i class="fa-solid fa-check star"></i><span style="font-size: 15px; font-weight: bold;">Accepting New Patients</span><br>
        
        <a href="/chats/{{dr.dr_id}}"><button class="blink">Make appointment</button></a>
        
        <a href="/view_profile/{{dr.dr_id}}"><button class="blink">View profile</button></a>
        
    </div>
</div>

{% endfor %}
{% else%}
<div>
    <h3>NO doctors available right now</h3>
</div>
{% endif%}
<!-- <div class="row view">
    <div class="col">
        <a href=""><button>Make appointment</button></a>
        <a href=""><button>View Article</button></a>
    </div> -->
    
        
 

</div>

{% endblock patient%}