{% extends 'patient/layout_pat.html'%}

{% block patient%}


<div class="row" style="box-shadow: 2px 2px 4px; background-color: white; border-bottom-right-radius: 30px;">
    <div class="col-4">
        <img src="/static/uploads/{{doc_avail.dr_image}}" width="150" height="150" style="border-radius:50%;">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-md-7" style="border-left: 1px solid green;">
                <p style="font-size: 40px; font-weight: bold;">DR <span style="font-size: 30px;">{{doc_avail.dr_fname}}</span></p>
                <span style="font-size: 20px;">{{doc_avail.spec.speciality_name}}|</span>
                <span style="font-size: 20px;">12 years experience|</span>
                <span style="font-size: 20px;">O/G certification</span><br>
        
        
            </div>
            <div class="col-md-5" style="border-left: 1px solid green; border-right: 1px solid green;">
                <i class="fa-solid fa-hospital"></i><span style="font-size: 20px; font-weight: bold;">MariGold hospital</span><br>
                <span>Lagos,</span>
                <span>Lagos,</span>
                <span>Nigeria.</span>
                <p><i class="fa-solid fa-envelope"></i>{{doc_avail.dr_email}}</p>
    </div>
</div>
</div>
</div>

<div class="row mt-3">
    <div class="col-8">
        <div id="overview" class="portfolio">
            <h4>OVERVIEW</h4>
            <p>
             {{doc_avail.summary}}
            </p>
            <button id="read1" type="button">READ MORE</button>
        </div>
        <div id="about" class="portfolio">
            <h4>ABOUT</h4>
            <p>
      {{doc_avail.about}}
            </p>
            <button id="backread2" type="button">PREVIOUS</button>
            <button id="read2" type="button">READ MORE</button>

        </div>
        <div id="philosophy" class="portfolio">
            <h4>PHILOSOPHY</h4>
            <p>
        {{doc_avail.philosophy}}
            </p>
            <button id="backread3" type="button">PREVIOUS</button>
        
        </div>
    </div>
    <div class="col-4" id="highlight">
       
    <h4>Highlight</h4>
    <ul>
      <li><h6 style=" font-weight: bold;">No medical board action</h6></li> <br> 
      <li><h6 style=" font-weight: bold;">Accepting new patients</h6></li><br> 

      <li><h6 style=" font-weight: bold;">Does not require referrals</h6></li><br> 
      <li><h6 style=" font-weight: bold;">Accepting new patients</h6></li><br> 
    </ul>
</div>

    </div>

{% endblock patient%}