{% extends "admin/layout_ad.html"%}
{% block admin%}
<h3>ALL REGISTER DOCTOR</h3>


<hr>
{% if all_doc%}
<div class="row">
    <div class="col">
        <table class="table table_stripped">
        <tr>
            <th>S/N</th>
            <th>image</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>mdcn</th>
            <th>state</th>
            <th>registration date</th>
        </tr> 

            {%for x in all_doc%}
        <tr> 
            <td>{{loop.index}}</td>
            <td><img src="/static/uploads/{{x.dr_image}}" height="100" width="100" style="border-radius: 40%;"></td>
            <td>{{x.dr_fname}}</td>
            <td>{{x.dr_lname}}</td>
            <td>{{x.mdcb}}</td>
            <td>{{x.dr_state_id}}</td>
            <td>{{x.dr_reg}}</td>
            <td><a href="/delete/{{x.dr_id}}" onclick="return confirm('are you sure you want to delete this user')"><button>DELETE</button></a></td>
            <td><a href="/mdcn/{{x.dr_id}}"  onclick="return confirm('are you sure you want verify doctor')"><button>VERIFY</button></a></td>
        </tr> 
        
        {%endfor%}
        </table>
        
    </div>
</div>
{%endif%}

{%endblock admin%}