{% extends "doctor/layout_doc.html"%}

{% block doctor%}
{{d_chat}}

    {% if chat_doc%}
    {% for s in chat_doc%}
    <div class="row" id="chat1">
        <div class="col">
         {{s.doc_message}}
        </div>
    </div>
    {%endfor%}
    {%endif%}

{% if chat_pat%}
{% for p in chat_pat%}
<div class="row" id="chat2">
    <div class="col">
     <p>{{p.pat_message}}</p>
     <i>sent by</i><span>{{p.pat_patchat.p_false}}</span>
    </div>
</div>

<div class="row">
   
    <div class="col" id="allmessage">
        <p style="color:blue; font-family:'Courier New', Courier, monospace">{{ message }}</p>
    </div>
</div>
{%endfor%}
{%endif%}
<form id="myform">

    <input name="chat" class="form-control" id="comment">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="postid" value="{{pat.p_id}}">
    <button class="btn btn-danger" id="btn" type="button">Send Comment</button>
    </form>
    
{% endblock doctor%}