{% extends 'doctor/layout_doc.html'%}

{% block doctor%}
<div class="row">
    <div class="col-6" id="chatdiv">
<div class="row rowshadow">
    <div class="col-2">
        <img src="/static/images/bg4.jpg" class="chat_image">
    </div>
    <div class="col-5 htag">
        <h5>USERNAME</h5>
        <p>hello how are you today</p>
        <hr style="width:50% ;">
    </div>
</div>

<div class="row rowshadow">
    <div class="col-2">
        <img src="/static/images/bg3.jpg" class="chat_image">
    </div>
    <div class="col-5 htag">
        <h5>USERNAME</h5>
        <p>hello how are you today</p>
        <hr style="width:50% ;">
    </div>
</div>

<div class="row rowshadow">
    <div class="col-2">
        <img src="/static/images/bg13.jpg" class="chat_image">
    </div>
    <div class="col-5 htag">
        <h5>USERNAME</h5>
        <p>hello how are you today</p>
        <hr style="width:100% ;">
    </div>
</div>

<div class="row rowshadow">
    <div class="col-2">
        <img src="/static/images/bg4.jpg" class="chat_image">
    </div>
    <div class="col-5 htag">
        <h5>USERNAME</h5>
        <p>hello how are you today</p>
        <hr style="width:50% ;">
    </div>
</div>

</div>
</div>
{% endblock doctor%}