{% extends "doctor/layout_doc.html"%}

{% block doctor%}
<div class="sign" id="sign1">
    {% for i in msg%}
    {{i}}
    {% endfor%}
    <form action="" method="post" enctype="multipart/form-data">
    <label class="form-label formup">Title</label>
    <input type="text" name="article" class="form-control inputup">
    <label class="form-label formup">post link URl</label>
    <textarea type="text" name="body" class="form-control inputup " rows="15"></textarea>
 
    <!-- <input type="file" name="pix"> -->
    <button id="next1">Update</button>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    </form>
    </div>
{% endblock doctor%}